gridsam/trunk/gridsam/stubs/wsdl/wsdl/bes-factory.wsdl

<wsdl:definitions name="BESFactory"
    targetNamespace="http://schemas.ggf.org/bes/2006/08/bes-factory"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:bes-factory="http://schemas.ggf.org/bes/2006/08/bes-factory"
    xmlns:wsa="http://www.w3/org/2005/08/addressing"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" > 

<wsdl:types>
  <xsd:schema
      xmlns:wsa="http://www.w3.org/2005/08/addressing"
      attributeFormDefault="unqualified"
      elementFormDefault="qualified"
      targetNamespace="http://schemas.ggf.org/bes/2006/08/bes-factory">

      <xsd:include schemaLocation="../bes-factory.xsd"/>

      <!-- MOVED TO bes-factory.xsd -->
      <!-- MOVED TO bes-factory.xsd -->
  </xsd:schema>
</wsdl:types>

  <!-- Messages -->
  <wsdl:message name="CreateActivityRequest">
      <wsdl:part name="CreateActivityRequest"
          element="bes-factory:CreateActivity"/>
  </wsdl:message>

  <wsdl:message name="CreateActivityResponse">
      <wsdl:part name="CreateActivityResponse"
          element="bes-factory:CreateActivityResponse"/>
  </wsdl:message>
  
  <wsdl:message name="CreateActivityFaultMessage">
      <wsdl:part name="CreateActivityFaultMessage"
          element="bes-factory:CreateActivityFaultMessage"/>
  </wsdl:message>

  <wsdl:message name="GetActivityStatusesRequest">
      <wsdl:part name="GetActivityStatusesRequest"
          element="bes-factory:GetActivityStatuses"/>
  </wsdl:message>

  <wsdl:message name="GetActivityStatusesResponse">
      <wsdl:part name="GetActivityStatusesResponse"
          element="bes-factory:GetActivityStatusesResponse"/>
  </wsdl:message>

  <wsdl:message name="TerminateActivitiesRequest">
      <wsdl:part name="TerminateActivitiesRequest"
          element="bes-factory:TerminateActivities"/>
  </wsdl:message>

  <wsdl:message name="TerminateActivitiesResponse">
      <wsdl:part name="TerminateActivitiesResponse"
          element="bes-factory:TerminateActivitiesResponse"/>
  </wsdl:message>

  <wsdl:message name="GetActivityDocumentsRequest">
      <wsdl:part name="GetActivityDocumentsRequest"
          element="bes-factory:GetActivityDocuments"/>
  </wsdl:message>

  <wsdl:message name="GetActivityDocumentsResponse">
      <wsdl:part name="GetActivityDocumentsResponse"
          element="bes-factory:GetActivityDocumentsResponse"/>
  </wsdl:message>

  <wsdl:message name="GetFactoryAttributesDocumentRequest">
      <wsdl:part name="GetFactoryAttributesDocumentRequest"
          element="bes-factory:GetFactoryAttributesDocument"/>
  </wsdl:message>

  <wsdl:message name="GetFactoryAttributesDocumentResponse">
      <wsdl:part name="GetFactoryAttributesDocumentResponse"
          element="bes-factory:GetFactoryAttributesDocumentResponse"/>
  </wsdl:message>

  <!-- Port Types -->
  <wsdl:portType name="BESFactoryPortType">

    <wsdl:operation name="CreateActivity">
        <wsdl:input 
          message="bes-factory:CreateActivityRequest"  
          wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/CreateActivity"/>
        <wsdl:output
          message="bes-factory:CreateActivityResponse"
          wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/CreateActivityResponse"/>
        <wsdl:fault name="CreateActivityFault" message="bes-factory:CreateActivityFaultMessage"/>
    </wsdl:operation>

    <wsdl:operation name="GetActivityStatuses">
        <wsdl:input
            message="bes-factory:GetActivityStatusesRequest"
            wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetActivityStatuses"/>
        <wsdl:output
            message="bes-factory:GetActivityStatusesResponse"
            wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetActivityStatusesResponse"/>
    </wsdl:operation>

    <wsdl:operation name="TerminateActivities">
        <wsdl:input
            message="bes-factory:TerminateActivitiesRequest"
            wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/TerminateActivities"/>
        <wsdl:output
            message="bes-factory:TerminateActivitiesResponse"
            wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/TerminateActivitiesResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetActivityDocuments">
        <wsdl:input
            message="bes-factory:GetActivityDocumentsRequest"
            wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetActivityDocuments"/>
        <wsdl:output
            message="bes-factory:GetActivityDocumentsResponse"
            wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetActivityDocumentsResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetFactoryAttributesDocument">
        <wsdl:input
            message="bes-factory:GetFactoryAttributesDocumentRequest"
            wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetFactoryAttributesDocument"/>
        <wsdl:output
            message="bes-factory:GetFactoryAttributesDocumentResponse"
            wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetFactoryAttributesDocumentResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
    <!-- ADDED job control port type SOAP binding -->
    <wsdl:binding name="BESFactorySOAPBinding" type="bes-factory:BESFactoryPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateActivity">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CreateActivityFault">
                <soap:fault name="CreateActivityFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetActivityStatuses">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TerminateActivities">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetActivityDocuments">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetFactoryAttributesDocument">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BasicExecutionService">
        <wsdl:port binding="bes-factory:BESFactorySOAPBinding" name="BESFactorySOAPPort">
            <soap:address location="http://localhost"/>
        </wsdl:port>
    </wsdl:service>
    <!-- ADDED job control port type SOAP binding -->
</wsdl:definitions>
