rns/branches/RB-0.5.1/RNS/rns-1.1-20120330/schema/rns/RNS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<!--
		The OGF takes no position regarding the validity or scope of any
		intellectual property or other rights that might be claimed to pertain
		to the implementation or use of the technology described in this
		document or the extent to which any license under such rights might or
		might not be available; neither does it represent that it has made any
		effort to identify any such rights. Copies of claims of rights made
		available for publication and any assurances of licenses to be made
		available, or the result of an attempt made to obtain a general
		license or permission for the use of such proprietary rights by
		implementers or users of this specification can be obtained from the
		OGF Secretariat. The OGF invites any interested party to bring to its
		attention any copyrights, patents or patent applications, or other
		proprietary rights which may cover technology that may be required to
		practice this recommendation. Please address the information to the
		OGF Executive Director. Disclaimer This document and the information
		contained herein is provided on an “As Is" basis and the OGF disclaims
		all warranties, express or implied, including but not limited to any
		warranty that the use of the information herein will not infringe any
		rights or any implied warranties of merchantability or fitness for a
		particular purpose. Full Copyright Notice Copyright (C) Open Grid
		Forum (2006-2009). All Rights Reserved. This document and translations
		of it may be copied and furnished to others, and derivative works that
		comment on or otherwise explain it or assist in its implementation may
		be prepared, copied, published and distributed, in whole or in part,
		without restriction of any kind, provided that the above copyright
		notice and this paragraph are included on all such copies and
		derivative works. However, this document itself may not be modified in
		any way, such as by removing the copyright notice or references to the
		OGF or other organizations, except as needed for the purpose of
		developing Grid Recommendations in which case the procedures for
		copyrights defined in the OGF Document process must be followed, or as
		required to translate it into languages other than English. The
		limited permissions granted above are perpetual and will not be
		revoked by the OGF or its successors or assignees.
	-->

<wsdl:definitions name="RNS"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:wsa="http://www.w3.org/2005/08/addressing"
	xmlns:rns="http://schemas.ogf.org/rns/2009/12/rns"
	xmlns:wsrp="http://docs.oasis-open.org/wsrf/rp-2"
	xmlns:wsrpw="http://docs.oasis-open.org/wsrf/rpw-2"
	xmlns:wsbf="http://docs.oasis-open.org/wsrf/bf-2"
	xmlns:wsrlw="http://docs.oasis-open.org/wsrf/rlw-2"
	xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
	targetNamespace="http://schemas.ogf.org/rns/2009/12/rns">

	<wsdl:import namespace="http://docs.oasis-open.org/wsrf/rw-2"
		location="../wsrf/resource/rw-2.wsdl" />

	<wsdl:import namespace="http://docs.oasis-open.org/wsrf/rpw-2"
		location="../wsrf/properties/rpw-2.wsdl" />

	<wsdl:import namespace="http://docs.oasis-open.org/wsrf/rlw-2"
		location="../wsrf/lifetime/rlw-2.wsdl" />

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://schemas.ogf.org/rns/2009/12/rns">

			<xsd:include schemaLocation="rns.xsd" />

			<xsd:import namespace="http://docs.oasis-open.org/wsrf/bf-2"
				schemaLocation="../wsrf/faults/bf-2.xsd" />

			<xsd:import namespace="http://docs.oasis-open.org/wsrf/rp-2"
				schemaLocation="../wsrf/properties/rp-2.xsd" />

			<xsd:import namespace="http://docs.oasis-open.org/wsrf/rl-2"
				schemaLocation="../wsrf/lifetime/rl-2.xsd" />

			<!-- == Resource Property Related === -->
			<xsd:element name="RNSRP">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:any namespace="##other" minOccurs="0" maxOccurs="unbounded" />
						<xsd:element ref="rns:elementCount" minOccurs="1"
							maxOccurs="1" />
						<xsd:element ref="rns:createTime" minOccurs="0"
							maxOccurs="1" />
						<xsd:element ref="rns:accessTime" minOccurs="0"
							maxOccurs="1" />
						<xsd:element ref="rns:modificationTime" minOccurs="0"
							maxOccurs="1" />
						<xsd:element ref="rns:readable" minOccurs="1"
							maxOccurs="1" />
						<xsd:element ref="rns:writable" minOccurs="1"
							maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="AddRequest">
		<wsdl:part name="AddRequest" element="rns:AddRequest" />
	</wsdl:message>

	<wsdl:message name="AddResponse">
		<wsdl:part name="AddResponse" element="rns:AddResponse" />
	</wsdl:message>

	<wsdl:message name="LookupRequest">
		<wsdl:part name="LookupRequest" element="rns:LookupRequest" />
	</wsdl:message>

	<wsdl:message name="LookupResponse">
		<wsdl:part name="LookupResponse" element="rns:LookupResponse" />
	</wsdl:message>

	<wsdl:message name="RemoveRequest">
		<wsdl:part name="RemoveRequest" element="rns:RemoveRequest" />
	</wsdl:message>

	<wsdl:message name="RemoveResponse">
		<wsdl:part name="RemoveResponse" element="rns:RemoveResponse" />
	</wsdl:message>

	<wsdl:message name="RenameRequest">
		<wsdl:part name="RenameRequest" element="rns:RenameRequest" />
	</wsdl:message>

	<wsdl:message name="RenameResponse">
		<wsdl:part name="RenameResponse" element="rns:RenameResponse" />
	</wsdl:message>

	<wsdl:message name="SetMetadataRequest">
		<wsdl:part name="SetMetadataRequest" element="rns:SetMetadataRequest" />
	</wsdl:message>

	<wsdl:message name="SetMetadataResponse">
		<wsdl:part name="SetMetadataResponse" element="rns:SetMetadataResponse" />
	</wsdl:message>

	<wsdl:message name="ReadNotPermittedFault">
		<wsdl:part name="ReadNotPermittedFault" element="rns:ReadNotPermittedFault" />
	</wsdl:message>

	<wsdl:message name="WriteNotPermittedFault">
		<wsdl:part name="WriteNotPermittedFault" element="rns:WriteNotPermittedFault" />
	</wsdl:message>

	<wsdl:portType name="RNSPortType"
		wsdlpp:extends="wsrpw:GetResourceProperty
				wsrpw:GetMultipleResourceProperties
				wsrlw:ImmediateResourceTermination"
		wsrp:ResourceProperties="rns:RNSRP">

		<!--
			Strictly speaking one would insert here operations that were being
			“imported" from other port types (specifically, those required by the
			OGSA WSRF Base Profile 1.0). However, doing so would tremendously
			bloat and obfuscate the material relevant to this document and as
			such I merely introduce via comments the other port types that should
			be added. There are a few mechanisms for doing this such as Globus’
			wsdlpp:extends element and the Genesis II genii-ext:extend element.
			However, since neither of these mechanisms is standard and each grid
			provider currently has its own methods for accomplishing this, we
			resort simply to comments here.
		-->
		<!-- extends wsrpw:ResourceProperties-->
		<!-- extends wsrlw:ImmediateTerminate-->
		<!-- extends wsrlw:ScheduledTermination-->

		<wsdl:operation name="add">
			<wsdl:input message="rns:AddRequest" />
			<wsdl:output message="rns:AddResponse" />
			<wsdl:fault name="WriteNotPermittedFault" message="rns:WriteNotPermittedFault" />
		</wsdl:operation>

		<wsdl:operation name="lookup">
			<wsdl:input message="rns:LookupRequest" />
			<wsdl:output message="rns:LookupResponse" />
			<wsdl:fault name="ReadNotPermittedFault" message="rns:ReadNotPermittedFault" />
		</wsdl:operation>

		<wsdl:operation name="rename">
			<wsdl:input message="rns:RenameRequest" />
			<wsdl:output message="rns:RenameResponse" />
			<wsdl:fault name="WriteNotPermittedFault" message="rns:WriteNotPermittedFault" />
		</wsdl:operation>

		<wsdl:operation name="remove">
			<wsdl:input message="rns:RemoveRequest" />
			<wsdl:output message="rns:RemoveResponse" />
			<wsdl:fault name="WriteNotPermittedFault" message="rns:WriteNotPermittedFault" />
		</wsdl:operation>

		<wsdl:operation name="setMetadata">
			<wsdl:input message="rns:SetMetadataRequest" />
			<wsdl:output message="rns:SetMetadataResponse" />
			<wsdl:fault name="WriteNotPermittedFault" message="rns:WriteNotPermittedFault" />
		</wsdl:operation>
	</wsdl:portType>

</wsdl:definitions>
